* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --main-background-color: rgb(25, 25, 25);
  --card-background-color: rgb(47, 47, 47);
  --section-background-color: rgb(28, 28, 28);
  --card-hover-background-color: rgb(55, 55, 55);
  --main-font-color: rgba(255, 255, 255, .81);
  --secondary-font-color: rgb(127, 127, 127);
  --empty-font-color: rgba(255, 255, 255, 0.282);
}

body {
  background-color: var(--main-background-color);
  color: var(--main-font-color);
  line-height: 1.5;
  /* user-select: none; */
}

/* Styling */
a {
  text-decoration: none;
}

hr {
  background-color: var(--empty-font-color);
  height: 2px;
  border: none;
}

input {
  background-color: transparent;
  border: inherit;
  outline: none;
  color: var(--main-font-color);
  font-size: 16px;
}

.hidden {
  display: none;
}

button,
img {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

img:hover {
  background-color: rgba(255, 255, 255, 0.055);
  border-radius: 4px;
}

/* TODO */
.trashIcon,
.trashIcon>img {
  width: 20px;
}

/* Container */
.container {
  width: 8.5in;
  /* height: 11in; TODO */
  display: flex;
  flex-direction: column;
  margin: 25px auto;
  background-color: var(--card-background-color);
  border-radius: 4px;
  padding: 25px 50px;
  box-shadow: rgb(15 15 15 / 50%) 0px 0px 0px 1px, rgb(15 15 15 / 50%) 0px 2px 4px;
}

.edit {
  background-color: rgb(65, 65, 65);
  padding: 4px 10px 6px 10px;
  border-radius: 4px;
  box-shadow: rgb(15 15 15 / 50%) 0px 0px 0px 1px, rgb(15 15 15 / 50%) 0px 2px 4px;
}

.section {
  margin-bottom: 20px;
}

.firstSection {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr auto;
  align-items: center;
}

/* Section Header Stuff */
.header {
  height: 32px;
}

.headerTitle,
.headerTitle>div {
  text-align: left;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.addNew {
  margin-top: 3px;
  border-radius: 4px;
  padding: 1px;
  color: rgba(255, 255, 255, 0.282);
  display: flex;
}

.addNew:hover {
  color: white;
}

.addNew>img {
  width: 16px;
}

/* Split two implementations */
.splitScreen {
  display: flex;
}
