/* Form */
.contactForm {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
}

.nameForm {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.nameForm>* {
  font-size: 30px;
}

.phoneForm,
.emailForm,
.linkedinForm {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
}

/* EDIT */
.submitButton,
.submitButton>img,
.editButton,
.editButton>img {
  height: 32px;
  justify-self: end;
  align-self: center;
}

/* Preview */
.contactPreview {
  display: flex;
  flex-direction: column;
}

.firstContactPreviewRow {
  display: grid;
  grid-template-columns: auto 1fr;
}
.name {
  font-size: 30px;
}

.secondContactPreviewRow {
  display: flex;
  gap: 15px;
}