#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#info>.secondSection {
  display: flex;
  display: grid;
  grid-template-columns: auto auto auto;
}

.name>*,
.name {
  font-size: 30px;
}

.name {
  display: flex;
  gap: 10px;
}

.secondSection>input {
  width: 152px;
}

.submitButton,
.submitButton>img, .editButton {
  height: 32px;
  justify-self: end;
}

form>.secondSection, .secondSection>div {
  gap: 5px;
}

div>.secondSection {
  gap: 20px;
}

.secondSection>div {
  display: grid;
  grid-template-columns: auto 1fr;
}