 .education {
   margin: 10px 50px;
   display: flex;
   flex-direction: column;
 }

 .content {
   display: grid;
   grid-template-columns: 3fr 1fr;
 }

 .courses,
 .degree,
 .activities {
   grid-column: 1 / -1;
   font-size: 15px;
 }

 hr {
   width: 100%;
 }

 .dates {
  text-align: right;
}

.content-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
