 .educationContainer {
   margin: 10px 0px;
   display: flex;
   flex-direction: column;
 }

 .educationContainer>.firstSection {
   display: grid;
   grid-template-columns: 3fr 1fr;
 }

 .courses,
 .degree,
 .activities {
   grid-column: 1 / -1;
   font-size: 15px;
 }



 .dates {
  text-align: right;
}

.contentInfo {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
