.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0 0 5px 0;
}

.name {
  font-size: 30px;
}

hr {
  width: 60%;
}