/* #skillForm,
.skillsContent {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.categoryRow {
  display: grid;
  grid-template-columns: 1fr 20px;
}

.categoryContent {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
}

#newCategoryNameInput {
  width: 100%;
}

#submitBtnLabel {
  display: none;
}

#skillForm {
  background-color: rgb(65, 65, 65);
  padding: 4px 10px 6px 10px;
  border-radius: 4px;
} */