#skillForm,
.skillsContent {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
}

.categoryRow {
  display: grid;
  grid-template-columns: 1fr 20px;
}

.categoryContent {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
}

#newCategoryNameInput {
  width: 100%;
}

#submitBtnLabel {
  display: none;
}
